@model Urfu.Its.Web.DataContext.Variant

@{
    ViewBag.Title = "Управление вариантом";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Variant</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Program.Direction.okso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Program.Direction.okso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dd>
            @Html.ActionLink("Группы","Index","VariantGroups",new {variantId = Model.Id},null)
        </dd>
        <dd>
            @Html.ActionLink("Модули", "Index", "VariantContents", new { variantId = Model.Id }, null)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |
    @Html.ActionLink("Back to List", "Index")
</p>
