
@{
    ViewBag.Title = "Отчет по показателям";
    Layout = "~/Views/Shared/_ExtLayout.cshtml";
}

@{
    <div class="container-fluid">
        <script type="text/javascript">
            Ext.onReady(function () {

                Ext.tip.QuickTipManager.init();

                var localStorageName = "PracticeReportIndicatorFilters";
                var filterLabelWidth = 140;

                function parseJson(json) {
                    var data = JSON.parse(json.replace(/&quot;/g, '"'));
                    return data;
                }

                var yearData = parseJson('@ViewBag.Years');
                var yearStore = Ext.create('Ext.data.Store', {
                    data: yearData,
                });

                var semesterData = parseJson('@ViewBag.Semesters');
                var semesterStore = Ext.create('Ext.data.Store', {
                    data: semesterData
                });

                var divisionsData = parseJson('@ViewBag.Divisions');
                var divisionStore = Ext.create('Ext.data.Store', {
                   data: divisionsData
                });
                divisionStore.on("load", function (store) {
                    store.insert(0, { Id: '', Name: 'Не указано' /*'&nbsp'*/ });
                });
                divisionStore.load();

                var directionStore = Ext.create("Ext.data.Store",
                    {
                        autoLoad: false,
                        proxy: {
                            type: 'ajax',
                            url: '@Url.Action("DirectionList")?institute=' + null,
                            reader: {
                                type: 'json',
                                rootProperty: 'data'
                            }
                        },
                        listeners: {
                            load: function (t, records, successful, eOpts) {
                                t.insert(0, { Id: '', Name: 'Не указано' /*'&nbsp'*/ });

                                if (prevSettings["Direction"] != "") {
                                    var exist = [];
                                    prevSettings["Direction"].forEach(function (item, index, array) {
                                        var existDirection = t.data.items.some(function (element, index, array) {
                                            return item == element.data.Id;
                                        });
                                        if (existDirection)
                                            exist.push(item);
                                    });
                                    if (exist.length == 0)
                                        exist.push(t.getAt(0));
                                    prevSettings["Direction"] = exist;
                                }
                                directionCmbx.setValue(prevSettings["Direction"]);
                                directionCmbx.setDisabled(false);
                            }
                        }
                    });

                var prevSettings = {};
                try {
                    var prevSettingString = JSON.parse(localStorage.getItem(localStorageName) || "[]");

                    for (var i = 0; i < prevSettingString.length; i++) {
                        prevSettings[prevSettingString[i]["property"]] = prevSettingString[i]["value"];
                    }

                    if (prevSettings["Year"] == null) {
                        prevSettings["Year"] = @(DateTime.Now.Month < 7? DateTime.Now.Year -1 : DateTime.Now.Year);
                    }
                    if (prevSettings["Division"] == null || prevSettings["Division"] == "[]") {
                        prevSettings["Division"] = divisionStore.getAt(1);
                    }
                    else {
                        var exist = [];
                        prevSettings["Division"].forEach(function (item, index, array) {
                            var existDivision = divisionStore.data.items.some(function (element, index, array) {
                                return item == element.data.Id;
                            });
                            if (existDivision)
                                exist.push(item);
                        });
                        if (exist.length == 0)
                            exist.push(divisionStore.getAt(1));
                        prevSettings["Division"] = exist;
                    }


                    if (prevSettings["Semester"] == null) {
                        prevSettings["Semester"] = @(DateTime.Now.Month < 7?2:1);
                    }
                }
                catch (err) {
                };

                var store = Ext.create("Ext.data.Store", {
                    autoLoad: true,
                    remoteSort: false,
                    remoteFilter: true,
                    autoSync: false,
                    filters: [
                        { property: 'Year', value: prevSettings['Year'] },
                        { property: 'Semester', value: prevSettings['Semester'] },
                        { property: 'Division', value: prevSettings['Division'] },
                        { property: 'Direction', value: prevSettings['Direction'] },
                        { property: 'PracticeName', value: prevSettings["PracticeName"] }
                    ],
                    proxy: {
                        type: 'ajax',
                        url: '@Url.Action("ReportIndicators")',
                        reader: {
                            type: 'json',
                            rootProperty: 'data',
                            totalProperty: 'total'
                        },
                        timeout: 1200000
                    }
                });

                var yearCmbx = Ext.create('Ext.form.ComboBox',
                    {
                        xtype: 'combobox',
                        fieldLabel: 'Учебный год',
                        store: yearStore,
                        queryMode: 'remote',
                        valueField: 'Year',
                        displayField: 'Year',
                        labelWidth: filterLabelWidth,
                        width: 300,
                        value: prevSettings['Year']
                    });

                yearStore.on("load", function () {
                    //yearCmbx.select(yearStore.getAt(yearStore.data.items.length - 1));
                });
                yearStore.load();

                var semesterCmbx = Ext.create('Ext.form.ComboBox', {
                        xtype: 'combobox',
                        fieldLabel: 'Семестр',
                        store: semesterStore,
                        valueField: 'Id',
                        displayField: 'Name',
                        queryMode: 'local',
                        labelWidth: filterLabelWidth,
                        width: 400,
                        value: prevSettings['Semester']
                });

                function reloadDirectionStore(institute) {
                    if (directionCmbx != null) directionCmbx.setDisabled(true);
                    directionStore.proxy.setUrl('@Url.Action("DirectionList")?institute=' + institute);
                    directionStore.reload();
                }

                function selectEvent(combo, records, funcIfNotEmpty, funcIfEmpty) {
                    var ids = [];
                    var checkEmpty = records[records.length - 1].data.Id == '';

                    if (!checkEmpty) {
                        records.forEach(function (t) {
                            if (t.data.Id != '')
                                ids.push(t.data.Id);
                        });
                        funcIfNotEmpty(ids);
                        combo.setValue(ids);
                    }
                    else {
                        // выбран вариант "Не указано"
                        combo.setValue('');
                        ids.push('');
                        funcIfEmpty();
                    }

                    // отметить галки в checkbox
                    var node;
                    Ext.each(records, function (rec) {
                        var checked = ids.includes(rec.data.Id);
                        node = combo.getPicker().getNode(rec);
                        Ext.get(node).down('input').dom.checked = checked;
                    });
                }

                function expandEvent(combo) {
                    combo.value.forEach(function (item, value, index, values) {
                        var rec = combo.findRecord('Id', item);
                        var node = combo.getPicker().getNode(rec);
                        var extNode = Ext.get(node);
                        if (extNode != null)
                            extNode.down('input').dom.checked = true;
                    });
                }

                function blurEvent(combo) {
                    if (combo.value.length == 0)
                        combo.setValue('');
                }

                function beforedeselect(combo, rec) {
                    // снять галки в checkbox
                    var node = combo.getPicker().getNode(rec);
                    var extNode = Ext.get(node);
                    if (extNode != null)
                        extNode.down('input').dom.checked = false;
                }

                var divisionCmbx = Ext.create('Ext.form.ComboBox', {
                    xtype: 'combobox',
                    fieldLabel: 'Институт',
                    store: divisionStore,
                    valueField: 'Id',
                    displayField: 'Name',
                    queryMode: 'local',
                    multiSelect: true,
                    labelWidth: filterLabelWidth,
                    width: 600,
                    value: prevSettings['Division'],
                    tpl: new Ext.XTemplate('<tpl for=".">', '<div class="x-boundlist-item">', '<input type="checkbox" />', '   ' + '{Name}', '</div>', '</tpl>'),
                    listeners: {
                        select: function (combo, records, eOpts) {
                            selectEvent(combo, records,
                                function (ids) { // выбран институт
                                    reloadDirectionStore(ids);
                                    prevSettings["Direction"] = '';
                                    directionCmbx.setDisabled(false);
                                },
                                function () { // выбрано "Не указано"
                                    directionCmbx.getStore().removeAll();
                                    directionCmbx.getStore().insert(0, { Id: '', Name: 'Не указано' /*'&nbsp'*/ });
                                    directionCmbx.setValue('');
                                    directionCmbx.setDisabled(true);
                                }
                            );
                        },
                        blur: function (combo, event, eOpts) {
                            blurEvent(combo);
                        },
                        beforedeselect: function (combo, rec) {
                            beforedeselect(combo, rec);
                        },
                        expand: function (field, eOpts) {
                            expandEvent(divisionCmbx);
                        }
                    }
                });

                var directionCmbx = Ext.create('Ext.form.ComboBox', {
                    xtype: 'combobox',
                    fieldLabel: 'Направление обучения',
                    store: directionStore,
                    valueField: 'Id',
                    displayField: 'Name',
                    queryMode: 'local',
                    labelWidth: filterLabelWidth,
                    width: 600,
                    multiSelect: true,
                    value: prevSettings['Direction'],
                    tpl: new Ext.XTemplate('<tpl for=".">', '<div class="x-boundlist-item">', '<input type="checkbox" />', '   ' + '{Name}', '</div>', '</tpl>'),
                    listeners: {
                        select: function (combo, records, eOpts) {
                            selectEvent(combo, records,
                                function () {},
                                function () {}
                            );
                        },
                        blur: function (combo, event, eOpts) {
                            blurEvent(combo);
                        },
                        beforedeselect: function (combo, rec) {
                            beforedeselect(combo, rec);
                        },
                        expand: function (field, eOpts) {
                            expandEvent(divisionCmbx);
                        }
                    }
                });

                reloadDirectionStore(divisionCmbx.getValue());

                var setFilters = function () {
                    var settings = [
                        { property: 'Year', value: yearCmbx.getValue() },
                        { property: 'Semester', value: semesterCmbx.getValue() },
                        { property: 'Division', value: divisionCmbx.getValue() },
                        { property: 'Direction', value: directionCmbx.getValue() },
                        { property: 'PracticeName', value: filtersWnd.getComponent("PracticeName").getValue() },
                    ];
                    store.setFilters(settings);
                    store.reload();

                    localStorage.setItem(localStorageName, JSON.stringify(settings));
                };

                var filtersWnd = Ext.create('Ext.window.Window', {
                    title: "Фильтры",
                    closeAction: 'hide',
                    resizable: false,
                    autoHeight: true,
                    bodyPadding: 6,
                    defaults: {
                        xtype: 'textfield',
                        width: 500
                    },
                    items: [
                        yearCmbx,
                        semesterCmbx,
                        divisionCmbx,
                        directionCmbx,
                        {
                            xtype: 'textfield',
                            fieldLabel: 'Название практики',
                            value: prevSettings["PracticeName"],
                            labelWidth: filterLabelWidth,
                            itemId: 'PracticeName',
                            margin: '0 0 10 0',
                            width: 500
                        }
                    ],
                    buttons: [{
                        text: "ОК",
                        handler: function () {
                            setFilters();
                            filtersWnd.hide();
                        }
                    }, {
                        text: "Отмена",
                        handler: function () { filtersWnd.hide(); }
                    }]
                });

                updateStore = function (groupId, status, number) {

                    store.data.each(function (record) {
                        if (record.get('GroupId') == groupId) {
                            record.set('Status', status);
                            record.set('OrderNumber', number)
                        }
                    });

                };

                var gridPanel = Ext.create('Ext.grid.Panel',
                {
                    region: 'center',
                    store: store,
                    loadMask: true,
                    columnLines: true,


                    tbar: [{
                        xtype: 'button',
                        text: "Фильтры",
                        handler: function () {
                            filtersWnd.show();
                        }
                    },{
                        xtype: 'button',
                        text: "Отменить фильтры",
                        handler: function () {
                            settings = [];

                            yearCmbx.setValue(@(DateTime.Now.Month < 7? DateTime.Now.Year -1 : DateTime.Now.Year));
                            semesterCmbx.setValue(@(DateTime.Now.Month < 7?2:1));
                            divisionCmbx.setValue(divisionStore.getAt(1));
                            directionStore.removeAll();
                            directionCmbx.setValue('');

                            filtersWnd.getComponent("PracticeName").setValue('');

                            setFilters();

                            reloadDirectionStore(divisionCmbx.getValue());
                            directionCmbx.setDisabled(false);
                        }
                    },'-',
                    {
                        xtype: 'button',
                        text: "Экспорт в Excel",
                        handler: function () {
                            var fileUrl = '@Url.Action("DownloadIndicatorsReportExcel")'
                                    .concat('?filter=' + encodeURIComponent(localStorage.getItem(localStorageName) || "[]"));
                                window.location.href = fileUrl;
                                return false;
                        }
                    }

                    ],
                    columns: [
                        { xtype: 'rownumberer', width: 50 },
                        { header: 'Учебный год', dataIndex: 'Year', width: 100, align: 'left', cellWrap: true, sortable: true, renderer: Urfu.renders.htmlEncodeWithToolTip, tooltip: 'Учебный год' },
                        { header: 'Семестр', dataIndex: 'Semester', width: 100, align: 'left', cellWrap: true, sortable: true, renderer: Urfu.renders.htmlEncodeWithToolTip, tooltip: 'Семестр' },
                        { header: 'Название практики', dataIndex: 'PracticeName', width: 350, align: 'left', cellWrap: true, sortable: true, renderer: Urfu.renders.htmlEncodeWithToolTip, tooltip: 'Название практики' },
                        { header: 'Тип практики', dataIndex: 'PracticeType', width: 250, align: 'left', cellWrap: true, sortable: true, renderer: Urfu.renders.htmlEncodeWithToolTip, tooltip: 'Тип практики' },
                        { header: 'Институт', dataIndex: 'Institute', width: 150, align: 'left', cellWrap: true, sortable: true, renderer: Urfu.renders.htmlEncodeWithToolTip, tooltip: 'Институт' },
                        { header: 'Направление', dataIndex: 'Okso', width: 200, align: 'left', cellWrap: true, sortable: true, renderer: Urfu.renders.htmlEncodeWithToolTip, tooltip: 'ОКСО+направление' },

                        { header: 'Кол-во не в Екатеринбурге', dataIndex: 'NoEkaterinburgCount', width: 100, align: 'right', cellWrap: true, sortable: true, tooltip: 'Кол-во не в Екатеринбурге'},
                        { header: 'Кол-во не в России', dataIndex: 'NoRussiaCount', width: 100, align: 'right', cellWrap: true, sortable: true, tooltip: 'Кол-во не в России'},
                        { header: 'Кол-во иностранных студентов', dataIndex: 'InostranCount', width: 100, align: 'right', cellWrap: true, sortable: true, tooltip: 'Кол-во иностранных студентов'},
                        { header: 'Кол-во целевых студентов', dataIndex: 'TargetCount', width: 100, align: 'right', cellWrap: true, sortable: true, tooltip: 'Кол-во целевых студентов' },
                        { header: 'Кол-во бюджет', dataIndex: 'BudgetCount', width: 100, align: 'right', cellWrap: true, sortable: true, tooltip: 'Кол-во бюджет'},
                        { header: 'Кол-во контракт', dataIndex: 'ContractCount', width: 100, align: 'right', cellWrap: true, sortable: true, tooltip:'Кол-во контракт'},
                    ],
                    });

                gridPanel.view.markDirty = false;

                var items = [
                    gridPanel
                ];

                Urfu.createViewport('border', items);

            });
        </script>
    </div>
}

