@model Urfu.Its.Web.Models.EditUserMinorsViewModel

@{
    ViewBag.Title = "Майноры для пользователя";
}

<h2>Майноры для пользователя</h2>


@using (Html.BeginForm("UserMinors", "Account", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.UserName)
            </div>
        </div>
        <br />
        <hr />
        <table class="table table-striped table-hover table-bordered table-condensed">
            <tr>
                <th>
                </th>
                <th>
                    Название
                </th>
            </tr>
            @for (var i = 0; i < Model.Rows.Count; i++)
            {
                @Html.HiddenFor(model => model.Rows[i].moduleId)
                <tr>
                    <td style="text-align: center">
                        @Html.CheckBoxFor(model => model.Rows[i].Checked)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Rows[i].Title)
                    </td>
                </tr>
            }

        </table>
        <br />
        <hr />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

