@model List<Urfu.Its.Web.DataContext.Module>
@{
    ViewBag.Title = "Конкурсные группы";
    Layout = "~/Views/Shared/_ExtLayout.cshtml";
}

<script type="text/javascript">

    Ext.onReady(function () {
        var checkedNodes = {};
        Ext.tip.QuickTipManager.init();
        function gettoken() {
            var token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }

        Ext.define('Semester',
           {
               extend: 'Ext.data.Model',
               fields:
               [
                    { name: 'Id', type: 'int' },
                    { name: 'Name', type: 'string'}
               ]
           });

        
       var  YearsStore = Ext.create('Ext.data.Store',
           {
                autoLoad: false,
                proxy:
                {
                    type: 'ajax',
                    url: '@Url.Action("GetYears")',
                    reader: { type: 'json', rootProperty: 'data' }
                }

            });


        var SemestersStore = Ext.create('Ext.data.Store',
        {
            model: 'Semester',
            autoLoad: false,
            proxy:
            {
                type: 'ajax',
                url: '/Minors/Semesters',
                reader: { type: 'json', rootProperty: 'data' }
            },
            });

        //SemestersStore.load();

        var СourseStore = Ext.create('Ext.data.Store', {
            fields: ['name','value'],
            data: [
                { "name":"Все", "value": null},
                {"name":"1","value":"1"},
                {"name":"2","value":"2"},
                {"name":"3","value":"3"}
            ]
        });

        var store = Ext.create("Ext.data.Store",
        {
            idProperty: 'Id',
            autoLoad: true,
            //pageSize: 300,
            remoteSort: true,
            remoteFilter: true,
            proxy: {
                type: 'ajax',
                url: '@Url.Action("CompetitionGroups")',
                reader: {
                    type: 'json',
                    rootProperty: 'data'
                }
            }
        });


        var prevSettings = {};
        try {
            var prevSettingString = JSON.parse(localStorage.getItem("SectionFKCompetitionGroupsFilters") || "[]");
            for (var i = 0; i < prevSettingString.length; i++) {
                prevSettings[prevSettingString[i]["property"]] = prevSettingString[i]["value"];
            }
        } catch (err) {
            console.log(err);
        }

        var filtersWnd = null;
        var setFilters = function () {
            var settings = [
                { property: 'Name', value: filtersWnd.getComponent("NameField").getValue()},
                { property: 'StudentCourse', value: filtersWnd.getComponent("StudentCourseField").getValue()},
                { property: 'Year', value: filtersWnd.getComponent("YearField").getValue() },
                { property: 'SemesterId', value: filtersWnd.getComponent("SemesterField").getValue() }
            ];
            store.setFilters(settings);
            localStorage.setItem("SectionFKCompetitionGroupsFilters", JSON.stringify(settings));
        };

        filtersWnd = Ext.create('Ext.window.Window', {
            title: "Фильтры",
            closeAction: 'hide',
            resizable: false,
            autoHeight: true,
            bodyPadding: 6,
            defaults: {
                xtype: 'textfield',
                width: 500
            },
            items: [
                { fieldLabel: "Название", itemId: "NameField", value: prevSettings["Name"] },
                { fieldLabel: "Курс", itemId: "StudentCourseField", value: prevSettings["StudentCourse"] },
                {
                    xtype: 'tagfield',
                    fieldLabel: 'Год',
                    itemId: 'YearField',
                    value: prevSettings["Year"],
                    store: YearsStore,
                    valueField: 'Year',
                    displayField: 'Year',
                    queryMode: 'remote',
                    forceSelection: true
                },
                {
                    xtype: 'tagfield',
                    fieldLabel: 'Семестр',
                    itemId: 'SemesterField',
                    value: prevSettings["SemesterId"],
                    store:SemestersStore,
                    valueField: 'Id',
                    displayField: 'Name',
                    queryMode: 'remote',
                    forceSelection: true
                }
            ],
            buttons: [
                {
                    text: "OK",
                    handler: function () {
                        setFilters();
                        filtersWnd.hide();
                    }
                },
                {
                    text: "Отмена",
                    handler: function () { filtersWnd.hide(); }
                }
            ]
        });
        setFilters();

        function required(value) {
            return (value != undefined && value.length > 0) ? true : "Поле не может быть пустым";
        }
        formPanel = Ext.create('Ext.window.Window',
            {
                title: "Редактирование Конкурсных групп",
                closeAction: 'hide',
                resizable: false,
                autoHeight: false,
                bodyPadding: 6,
                defaults: {
                    xtype: 'textfield',
                    width: 800,
                },
                items: [
                 {
                     xtype: 'hidden',
                     itemId: 'Id',
                 },
                 {
                     xtype: 'textarea',
                     fieldLabel: 'Наименование',
                     itemId: 'Name',
                     height: 40,
                     maxLength: 160,
                     minLength: 1,
                     cls: 'field-margin',
                     validator: required

                 },
                 {
                     xtype: 'textarea',
                     fieldLabel: 'Сокращ. название',
                     itemId: 'ShortName',
                     height: 40,
                     maxLength: 160,
                     minLength: 1,
                     cls: 'field-margin',
                     validator: required

                 }, {
                     xtype: 'numberfield',
                     fieldLabel: 'Курс',
                     itemId: 'StudentCourse',
                     cls: 'field-margin',
                     hideTrigger: true,
                     minValue: 1,
                     maxValue: 6,
                     validator: required

                 }, {
                     xtype: 'numberfield',
                     fieldLabel: 'Учебный год',
                     itemId: 'Year',
                     hideTrigger: true,
                     cls: 'field-margin',
                     minValue: 2014,
                     validator: required

                 }, {
                     fieldLabel: "Семестр",
                     itemId: "SemesterId",
                     xtype: "combobox",
                     store: SemestersStore,
                     valueField: 'Id',
                     displayField: 'Name',
                     queryMode: 'remote',
                     cls: 'field-margin',
                     editable: false,
                     validator: required
                 }
                ],
                buttons: [
                    {
                        id: 'btnOk',
                        text: "OK",
                        handler: function () {
                            var isValid = true;
                            formPanel.items.items.forEach(function (element, index, array) {
                                if (!element.isValid()) isValid = false;
                            });
                            if (!isValid) return false;

                            Ext.getBody().mask('Сохранение...');
                            Ext.Ajax.request({
                                url: '@Url.Action("CreateOrUpdateCompetitionGroup")',
                                params: {
                                    Id: formPanel.getComponent("Id").getValue() ? formPanel.getComponent("Id").getValue() : 0,
                                    Name: formPanel.getComponent("Name").getValue(),
                                    ShortName: formPanel.getComponent("ShortName").getValue(),
                                    StudentCourse: formPanel.getComponent("StudentCourse").getValue(),
                                    Year: formPanel.getComponent("Year").getValue(),
                                    SemesterId: formPanel.getComponent("SemesterId").getValue(),
                                    __RequestVerificationToken: gettoken()
                                },
                                success: function (response) {
                                    Ext.getBody().unmask();
                                    store.reload();

                                },
                                failure: function (response) {
                                    Ext.getBody().unmask();
                                }
                            });
                            formPanel.hide();
                        }
                    },
                    {
                        text: "Отмена",
                        handler: function () { formPanel.hide(); }
                    }
                ]
            });

        var autoMovePanel = Ext.create('Ext.window.Window',
            {
                title: "Автоматическое зачисление по изменениям",
                closeAction: 'hide',
                resizable: true,
                maxHeight: 700,
                autoHeight: true,
                autoWidth: true,
                bodyPadding: 6,
                scrollable: true,
                x: 100,
                y: 100,
                //defaults: {
                //    xtype: 'textfield',
                //    width: 300
                //},
                layout: {
                    type: 'table',
                    columns: 3
                },
                items: [

                 {
                     xtype: 'hidden',
                     itemId: 'Id'
                 },
                 {
                     xtype: 'numberfield',
                     fieldLabel: 'Учебный год',
                     itemId: 'Year',
                     margin:'5 0 3 5',
                     hideTrigger: true,
                     cls: 'field-margin',
                     minValue: 2014,
                     validator: required
                 },
                 {
                     fieldLabel: "Семестр",
                     itemId: "SemesterId",
                     xtype: "combobox",
                     margin: '5 3 3 10',
                     labelWidth: 70,
                     store: SemestersStore,
                     valueField: 'Id',
                     displayField: 'Name',
                     queryMode: 'remote',
                     cls: 'field-margin',
                     editable: false,
                     validator: required,
                 },
                    {
                        fieldLabel: "Курс",
                        itemId: "Course",
                        xtype: "combobox",
                        store: СourseStore,
                        labelWidth: 45,
                        valueField: 'value',
                        displayField: 'name',
                        queryMode: 'local',
                        cls: 'field-margin',
                        margin:'5 0 3 10',
                        editable: false,
                        validator: required
                    },
                    {
                        xtype: 'box',
                        padding:'10 0',
                        autoEl: { cn: 'Выберите секции, участвующие в расчете:' },
                        colspan:3
                   }
                 @foreach (var module in Model)
                 {
                     <text>
                              , {
                                    id: '@module.uuid',
                                    xtype: 'checkbox',
                                    margin: 10,
                                    boxLabel: '@module.shortTitle',
                                    checked:true
                                } //never do it again
                      </text>
                 }
                ],
                buttons: [
                    {
                        text: "OK",
                        handler: function () {

                            var isValid = true;
                            autoMovePanel.items.items.forEach(function (element, index, array) {
                                if (element && element.isValid && !element.isValid()) isValid = false;
                            });
                            if (!isValid) return false;

                            var year = autoMovePanel.getComponent("Year").getValue();
                            var semester = autoMovePanel.getComponent("SemesterId").getValue();
                            var course = autoMovePanel.getComponent("Course").getValue();
                            var modules = [];
                            for (var i in autoMovePanel.items.items) {
                                var item = autoMovePanel.items.items[i];
                                if (item && item.xtype === "checkbox" && autoMovePanel.getComponent(item.id).getValue())
                                    modules.push(item.id);
                            }
                            autoMove(year, semester, course, modules);

                            //var fileUrl = '@Url.Action("PrepareAutoMove")' + "?year=" + year+"&semester="+semester+"&course="+course+"&modules="+JSON.stringify(modules);
                            //window.location.href = fileUrl;
                        }
                    },
                    {
                        text: "Отмена",
                        handler: function () { autoMovePanel.hide(); }
                    }
                ]
            });

        function autoMove(year, semester, course, modules) {
            var form = document.createElement("form");
            var element1 = document.createElement("input");
            var element2 = document.createElement("input");
            var element3 = document.createElement("input");
            var element4 = document.createElement("input");

            form.method = "POST";
            form.action = "@Url.Action("PrepareAutoMove")";

            element1.value = year;
            element1.name = "year";
            form.appendChild(element1);

            element2.value = semester;
            element2.name = "semester";
            form.appendChild(element2);

            element3.value = course;
            element3.name = "course";
            form.appendChild(element3);

            element4.value = JSON.stringify(modules) ;
            element4.name = "modules";
            form.appendChild(element4);

            document.body.appendChild(form);
            form.submit();
        }

        var clearFormFields = function () {
            setValuesToForm({});
        };
        function setValuesToForm(params) {
            formPanel.items.items.forEach(function (element, index, array) {
                if (params[element.itemId] != undefined) 
                element.setValue(params[element.itemId]);             
                else {

                    element.setValue('');
                    element.clearInvalid();
                    var studentCourse = formPanel.getComponent('StudentCourse');
                    studentCourse.setReadOnly(false);
                    studentCourse.minValue = 1;
                    studentCourse.maxValue = 6;
                    
                }
            });
        }

        Ext.define('BadGroup', {
            extend: 'Ext.data.Model',
            fields: [
                { name: 'competitionGroupName', type: 'string' },
                { name: 'group', type: 'string' },
                { name: 'groupId', type: 'string' },
            ]
        });
        
        badGroupsStore = Ext.create("Ext.data.Store",
        {
            model: 'BadGroup',
            proxy: {
                type: "memory",
                reader: {
                    type: "json"
                }
            }
            });
          function downloadBadGroups() {
            
              var xhr = new XMLHttpRequest();
              //set the request type to post and the destination url to '/convert'
              xhr.open('POST', '@Url.Action("DownloadBadGroups")');
              //set the reponse type to blob since that's what we're expecting back
              xhr.responseType = 'blob';
              xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
              
              xhr.send(JSON.stringify({ badGroups: Ext.pluck(badGroupsStore.data.items, 'data') }));

              xhr.onload = function (e) {
                  if (this.status == 200) {
                      // Create a new Blob object using the response data of the onload object
                      var blob = new Blob([this.response], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                      //Create a link element, hide it, direct it towards the blob, and then 'click' it programatically
                      var a = document.createElement("a");
                      a.style = "display: none";
                      document.body.appendChild(a);
                      //Create a DOMString representing the blob and point the link element towards it
                      var url = window.URL.createObjectURL(blob);
                      a.href = url;
                      a.download = 'Несоответствие состава конкурсных групп.xlsx';
                      //programatically click the link to trigger the download
                      a.click();
                      //release the reference to the file by revoking the Object URL
                      window.URL.revokeObjectURL(url);
                  } else {
                      //deal with your error state here
                  }
              };
            
        }

        
        badGroups = Ext.create('Ext.window.Window',
        {
            title: "Данные группы включены в другие конкурсные группы",
            closeAction: 'hide',
            resizable: false,
            autoHeight: false,
            bodyPadding: 6,
            height: 500,
            defaults: {
                width: 800,
            },
            items: [

                {
                    xtype: 'grid',
                    id: 'teachersGrid',
                    store: badGroupsStore,
                    height: 400,
                    tbar: [
                        {
                            xtype: 'button',
                            text: "Открыть в Excel",
                            handler: function () {
                                downloadBadGroups();
                            }
                        }
                    ],
                    columns: [
                        { xtype: 'rownumberer', width: 60 },
                        {
                            header: 'Группа',
                            dataIndex: 'group',
                            width: 300,
                            renderer: Urfu.renders.htmlEncodeWithToolTip,


                        },
                        {
                            header: 'Конкурсная группа',
                            dataIndex: 'competitionGroupName',
                            width: 300,
                            renderer: Urfu.renders.htmlEncodeWithToolTip,
                        },


                    ],
                    viewConfig :
                    {
                        enableTextSelection: true

                    },

                },

            ],
            buttons: [
                {
                    text: "ОК",
                    handler: function() { badGroups.hide(); }
                }
            ]

        });
        treePanelCollapsed = true;
        treePanel = {};
        treeStore = Ext.create("Ext.data.TreeStore",
        {

            autoLoad: false,
            remoteFilter: true,
            root: {
                text: 'Root',
                id: 'rootId',
                expanded: false
            },
            //pageSize: 300,
            fields: ['text', {
                name: 'checked',
                defaultValue: false
            }],
            proxy: {
                type: 'ajax',
                url: '@Url.Action("CompetitionGroupContentsTree")',
                reader: {
                    type: 'json',
                    rootProperty: 'children'
                }
            },
            listeners: {
                'load': function () {

                    if (treePanel.isMasked()) treePanel.unmask();
                    colExpTree();
                }
            }
        });
        function colExpTree() {
            var treeView = treePanel.getComponent('treeView');
            if (treeView == undefined) return;
            if (treePanelCollapsed) treeView.collapseAll(treeView);
            else treeView.expandAll(treeView);
        }

        treePanel = Ext.create('Ext.window.Window',
            {
                title: "Редактирование Конкурсных групп",
                closeAction: 'hide',
                resizable: false,
                autoHeight: false,
                bodyPadding: 6,
                height: 500,
                defaults: {
                    xtype: 'textfield',
                    width: 800,

                },
                tbar: [
                    {
                        xtype: 'textfield',
                        fieldLabel: 'Группа',
                        itemId: 'GroupName',

                    },
                    {
                        xtype: 'button',
                        icon: '../Content/Images/search.png',
                        handler: function () {
                            var settings = [
                                { property: 'Name', value: Ext.ComponentQuery.query('#GroupName')[0].getValue() },
                            ];
                            
                            treePanel.mask();
                            treeStore.setFilters(settings);
                            treePanelCollapsed = false;
                            
                            colExpTree();
                        }
                    },
                    {
                        xtype: 'button',
                        text: "Развернуть\\Свернуть группировку",
                        handler: function () {
                            treePanelCollapsed = !treePanelCollapsed;
                            colExpTree();
                        }
                    }
                ],
                items: [
                      {
                          xtype: 'hidden',
                          itemId: 'Id',
                      },
                    {
                        xtype: 'treepanel',
                        rootVisible: false,
                        id: 'treeView',
                        store: treeStore,
                        height: 350,
                        listeners: {
                            checkchange: function (node, checked) {
                                checkchange_base(node, checked)
                                if (!checked) {
                                   // Ext.Msg.alert('Внимание!', 'При удалении академической группы из состава конкурсной группы все зачисления студентов будут удалены!', Ext.emptyFn);
                                    Ext.MessageBox.show({
                                        title: 'Внимание!',
                                        msg: 'При удалении академической группы из состава конкурсной группы все зачисления студентов будут удалены!',
                                        buttons: Ext.MessageBox.OKCANCEL,
                                        icon: Ext.MessageBox.WARNING,    // иконка мб {ERROR,INFO,QUESTION,WARNING}
                                        closable: true,
                                        fn: function(button) {
                                            if ('cancel' == button) {
                                                treeStore.getRootNode().cascadeBy(function (node) {
                                                    node.reject();
                                                });
                                            }
                                        }
                                    });
                                    
                                }
                            }
                        },
                        updateTreeView: function (tree, fn) {
                            var view = tree.getView();
                            view.getStore().loadRecords(fn(tree.getRootNode()));
                            view.refresh();
                        },
                        collapseAll: function (tree) {
                            this.updateTreeView(tree, function (root) {
                                root.cascadeBy(function (node) {
                                    if (!node.isRoot() || tree.rootVisible) {
                                        node.data.expanded = false;
                                    }
                                });
                                return tree.rootVisible ? [root] : root.childNodes;
                            });
                        },

                        expandAll: function (tree) {
                            this.updateTreeView(tree, function (root) {
                                var nodes = [];
                                root.cascadeBy(function (node) {
                                    if (!node.isRoot() || tree.rootVisible) {
                                        node.data.expanded = true;
                                        nodes.push(node);
                                    }
                                });
                                return nodes;
                            })
                        },

                    }
                ],

                buttons: [
                    {
                        text: "Сохранить",
                        handler: function () {
                            treePanel.mask('Сохранение..');
                            var groupsIds = [];
                            treeStore.getRootNode().cascadeBy(function (node) {
                                if (node.data.leaf && node.data.checked) {
                                    groupsIds.push(node.data.nodeId);
                                }
                            });
                            var deselectedGroups = [];
                            treeStore.getRootNode().cascadeBy(function (node) {
                                if (node.data.leaf && !node.data.checked) {
                                    deselectedGroups.push(node.data.nodeId);
                                }
                            });
                            

                            Ext.Ajax.request({
                                method: 'POST',
                                url: '@Url.Action("UpdateCompetitionGroupContents")',
                                params: {
                                    competitionGroupId: treePanel.getComponent("Id").getValue(),
                                    groupsIds: groupsIds,
                                    deselectedGroups: deselectedGroups,
                                    isFiltered: Ext.ComponentQuery.query('#GroupName')[0].getValue()!="",
                                    __RequestVerificationToken: gettoken()
                                },
                                success: function (response) {
                                    var data = JSON.parse(response.responseText);
                                    treePanel.unmask();
                                    treePanel.hide();
                                    store.reload();
                                    if (data.length > 0) {
                                        badGroupsStore.loadData(data);
                                        badGroups.show();
                                    }
                                    
                                },
                                failure: function (response) {
                                    treePanel.unmask();
                                    treePanel.hide();
                                }
                            });

                        }
                    },
                    {
                        text: "Отмена",
                        handler: function () { treePanel.hide(); }
                    }],
                listeners: {
                    'shown': function () {

                    }
                }
            });
            var tpl = '<a href="/SectionFKAdmission/Index?competitionGroupId={Id}">Зачисления</a> | ' +
                '<a href="/SectionFKAdmission/PrepareAuto?competitionGroupId={Id}">Автозачисления</a> | ' +
                  '<a href="/SectionFKSubgroupMeta/Index?competitionGroupId={Id}">Подгруппы</a>';

        function createName(o) {
            if (o.data.Name.length > 35)
                return o.data.Name.substring(0, 30) + '... (' + o.data.Semester + ' ' + o.data.Year + ')';
            return o.data.Name + '(' + o.data.Semester + ' ' + o.data.Year + ')';
        }

        function copygroups(src,dst) {
            if (dst.SelectedGroupsCount !== 0) {
                return Ext.MessageBox.alert('Ошибка', "Состав одной из КГ должен быть пустым!", Ext.emptyFn);
            }
            if (src.ShortName === dst.ShortName && src.SemesterId !== dst.SemesterId) {
                                
                if ((src.Year == dst.Year && src.StudentCourse == dst.StudentCourse) || (src.Year !== dst.Year && Math.abs(src.StudentCourse - dst.StudentCourse) ==1)) {

                            Ext.MessageBox.show({
                                msg: 'Копирование состава групп...',
                                progressText: 'Копирование...',
                                width: 300,
                                wait: true,
                                waitConfig: { interval: 200 }
                            });
                            Ext.Ajax.request({
                                        url: '@Url.Action("CopyGroups")',
                                        method: 'GET',
                                        params: {
                                            src: src.Id,
                                            dst: dst.Id
                                        },
                                        success: function(response) {
                                            if (!Ext.isEmpty(response.responseText)) {
                                                var decodedString = Ext.decode(response.responseText);
                                                var messagestring = "";
                                                if (decodedString.includedinAnotherCG.length !== 0) {

                                                    decodedString.includedinAnotherCG.forEach(function (c) {
                                                        if (c.competitionGroupName && c.groups) {
                                                            messagestring = '<b>' +
                                                                messagestring.concat(c.competitionGroupName) +
                                                                '</b>' +
                                                                '<br>';
                                                            c.groups.forEach(
                                                                function(gr) {
                                                                    messagestring = messagestring.concat(gr) + '<br>';
                                                                })
                                                        }
                                                    });
                                                    Ext.MessageBox.show({
                                                        title: decodedString.message1,
                                                        msg: messagestring
                                                    });
                                                }
                                                else if (decodedString.notGroupHistory.length !== 0) {
                                                    messagestring = "";
                                                    decodedString.notGroupHistory.forEach(function (g) {
                                                        messagestring =
                                                            messagestring.concat(g) + '<br>';
                                                    });

                                                    Ext.MessageBox.show({
                                                        title: decodedString.message2,
                                                        msg: messagestring
                                                    });
                                                }
                                                else Ext.MessageBox.alert(' ', 'Копирование состава групп выполнено!');
                                                store.reload();
                                            }
                                        },
                                        failure: function (response) {
                                            Ext.MessageBox.alert('Ошибка', response.responseText, Ext.emptyFn);
                                        }
                                    });
                                }
                               else return Ext.Msg.alert('Ошибка', 'Неверно выбран курс!', Ext.emptyFn);
                            }
                          else  return Ext.Msg.alert('Ошибка', 'Сокращенное название/семестры указаны неверно', Ext.emptyFn)
        }


        var gridPanel = Ext.create('Ext.grid.Panel',
        {
            region: 'center',
            store: store,
            loadMask: true,
            columnLines: true,
            tbar: [
                {
                    xtype: 'button',
                    text: 'Фильтры...',
                    handler: function () { filtersWnd.show(); }
                },
                    {
                        xtype: 'button',
                        text: "Отменить фильтры",
                        handler: function () {
                            store.clearFilter();
                            localStorage.setItem("SectionFKCompetitionGroupsFilters", "[]");
                        }
                    },
                    {
                    xtype: 'button',
                    text: 'Добавить',
                    handler: function () {
                        formPanel.setTitle("Добавление Конкурсной группы");
                        var btn = Ext.getCmp('btnOk');
                        btn.setText('Добавить');
                        clearFormFields();
                        formPanel.show();
                        }
                    },
                    {
                    xtype: 'button',
                    text: 'Автоматический перевод',
                    handler: function () {
                        autoMovePanel.show();
                        }
                    },
                {
                    xtype: 'button',
                    text: 'Копирование',
                    menu: {
                        items: [
                            {
                                text: "Копировать параметры секции",
                                itemId: 'CopyProperties',
                                handler: function (item) {
                                    var objects = gridPanel.getSelectionModel().getSelection();
                                    if (objects.length !== 2) {
                                        Ext.MessageBox.alert("Копирование параметров секции", 'Выберите две конкурсные группы, сейчас выбрано ' + objects.length);
                                        return;
                                    }

                                    var o0 = objects[0].data;
                                    var o1 = objects[1].data;
                                    
                                    var n0 = createName(objects[0]);
                                    var n1 = createName(objects[1]);

                                    var copyWindow = new Ext.Window({
                                        title: 'Указать источник параметров',
                                        layout: {
                                            type: 'vbox',
                                            align: 'stretch',
                                            pack: 'start'
                                        },
                                        items: [
                                            {
                                                xtype: 'button',
                                                margin: 10,
                                                text: n0,
                                                handler: function () {
                                                    var limits = copyWindow.getComponent("limits").getValue();
                                                    var places = copyWindow.getComponent("places").getValue();
                                                    var teachers = copyWindow.getComponent("teachers").getValue();

                                                    if (teachers || limits || places)
                                                        window.location = "/SectionFK/CopyProperties?src=" + o0.Id + "&dst=" + o1.Id + "&limits=" + limits + "&places=" + places + "&teachers=" + teachers;
                                                }
                                            }, {
                                                xtype: 'button',
                                                margin: 10,
                                                text: n1,
                                                handler: function () {
                                                    var limits = copyWindow.getComponent("limits").getValue();
                                                    var places = copyWindow.getComponent("places").getValue();
                                                    var teachers = copyWindow.getComponent("teachers").getValue();

                                                    if (teachers || limits || places)
                                                        window.location = "/SectionFK/CopyProperties?src=" + o1.Id + "&dst=" + o0.Id + "&limits=" + limits + "&places=" + places + "&teachers=" + teachers;
                                                }
                                            }, {
                                                id: 'limits',
                                                xtype: 'checkbox',
                                                margin: 10,
                                                boxLabel: 'Лимиты'
                                            }, {
                                                id: 'places',
                                                xtype: 'checkbox',
                                                margin: 10,
                                                boxLabel: 'Места проведения'
                                            }, {
                                                id: 'teachers',
                                                xtype: 'checkbox',
                                                margin: 10,
                                                boxLabel: 'Преподаватели'
                                            }
                                        ]
                                    });
                                    copyWindow.show();
                                }
                            }, {
                                text: 'Копировать состав групп',
                                closeToolText: 'Закрыть окно',
                                handler: function () {
                                    var objects = gridPanel.getSelectionModel().getSelection();
                                    if (objects.length !== 2) {
                                        Ext.MessageBox.alert("Копирование состава групп", 'Выберите две конкурсные группы, сейчас выбрано ' + objects.length);
                                        return;
                                    }
                                    var o0 = objects[0].data;
                                    var o1 = objects[1].data;
                                    var n0 = createName(objects[0]);
                                    var n1 = createName(objects[1]);
                                        var copyWindow = new Ext.Window({
                                            title: 'Указать источник параметров',
                                            layout: {
                                                type: 'vbox',
                                                align: 'stretch',
                                                pack: 'start'
                                            },
                                            items: [
                                            {
                                                xtype: 'button',
                                                margin: 10,
                                                text: n0,
                                                handler: function() {
                                                    copygroups(o0, o1);
                                                }
                                            },
                                             {
                                                 xtype: 'button',
                                                 margin: 10,
                                                 text: n1,
                                                 handler: function() {
                                                     copygroups(o1, o0);
                                                 }
                                              }
                                            ]
                                             });
                                    copyWindow.show();
                            }
                            }, {
                                text: "Копировать зачисления",
                                itemId: 'CopyMembershipPrepare',
                                handler: function () {
                                    var objects = gridPanel.getSelectionModel().getSelection();
                                    if (objects.length !== 2) {
                                        Ext.MessageBox.alert("Копирование зачислений студентов", 'Выберите две конкурсные группы, сейчас выбрано ' + objects.length);
                                        return;
                                    }

                                    var o0 = objects[0].data;
                                    var o1 = objects[1].data;

                                    var n0 = createName(objects[0]);
                                    var n1 = createName(objects[1]);

                                    new Ext.Window({
                                        title: 'Указать источник зачислений студентов',
                                        layout: {
                                            type: 'vbox',
                                            align: 'stretch',
                                            pack: 'start'
                                        },
                                        items: [{
                                            xtype: 'button',
                                            margin: 10,
                                            text: n0,
                                            handler: function () {
                                                window.location = "/SectionFK/CopyMembershipPrepare?a=" + o0.Id + "&b=" + o1.Id;
                                            }
                                        }, {
                                            xtype: 'button',
                                            margin: 10,
                                            text: n1,
                                            handler: function () {
                                                window.location = "/SectionFK/CopyMembershipPrepare?a=" + o1.Id + "&b=" + o0.Id;
                                            }
                                        }]
                                    }).show();
                                }
                            }, {
                                text: "Копировать состав подгрупп",
                                itemId:'CopyComposition',
                                handler: function (item) {
                                    var objects = gridPanel.getSelectionModel().getSelection();
                                    if (objects.length !== 2) {
                                        Ext.MessageBox.alert("Копировать состав подгрупп", 'Выберите две конкурсные группы, сейчас выбрано ' + objects.length);
                                        return;
                                    }

                                    var o0 = objects[0].data;
                                    var o1 = objects[1].data;
                                    
                                    var n0 = createName(objects[0]);
                                    var n1 = createName(objects[1]);

                                    var copyWindow = new Ext.Window({
                                        title: 'Указать источник параметров',
                                        layout: {
                                            type: 'vbox',
                                            align: 'stretch',
                                            pack: 'start'
                                        },
                                        items: [
                                            {
                                                xtype: 'button',
                                                margin: 10,
                                                text: n0,
                                                handler: function () {
                                                    var subgroups = copyWindow.getComponent("subgroups").getValue();
                                                    var composition = copyWindow.getComponent("composition").getValue();
                                                    var subgroupTeachers = copyWindow.getComponent("subgroupTeachers").getValue();

                                                    if (subgroups || composition || subgroupTeachers)
                                                        window.location = "/SectionFK/CopyComposition?src=" + o0.Id + "&dst=" + o1.Id + "&subgroups=" + subgroups + "&composition=" + composition + "&subgroupTeachers=" + subgroupTeachers;
                                                }
                                            }, {
                                                xtype: 'button',
                                                margin: 10,
                                                text: n1,
                                                handler: function () {
                                                    var subgroups = copyWindow.getComponent("subgroups").getValue();
                                                    var composition = copyWindow.getComponent("composition").getValue();
                                                    var subgroupTeachers = copyWindow.getComponent("subgroupTeachers").getValue();


                                                    if (subgroups || composition || subgroupTeachers)
                                                        window.location = "/SectionFK/CopyComposition?src=" + o1.Id + "&dst=" + o0.Id + "&subgroups=" + subgroups + "&composition=" + composition + "&subgroupTeachers=" + subgroupTeachers;

                                                }
                                            }, {
                                                id: 'subgroups',
                                                xtype: 'checkbox',
                                                margin: 10,
                                                boxLabel: 'Подгруппы'
                                            }, {
                                                id: 'composition',
                                                xtype: 'checkbox',
                                                margin: 10,
                                                boxLabel: 'Количество подгрупп'
                                            }, {
                                                id: 'subgroupTeachers',
                                                xtype: 'checkbox',
                                                margin: 10,
                                                boxLabel: 'Преподаватели'
                                            }
                                        ]
                                    });
                                    copyWindow.show();
                                }
                            }]
                    }
                 }],
            columns: [
                { xtype: 'rownumberer', width: 50 },
                {
                    header: 'Наименование',
                    dataIndex: 'Name',
                    width: 600,
                    renderer: Urfu.renders.htmlEncodeWithToolTip
                },
                {
                    header: 'Сокращ. название',
                    dataIndex: 'ShortName',
                    width: 150,
                    renderer: Urfu.renders.htmlEncodeWithToolTip
                },
                {
                    header: 'Курс',
                    dataIndex: 'StudentCourse',
                    width: 70,
                    renderer: Urfu.renders.htmlEncodeWithToolTip
                },
                {
                    header: 'Год',
                    dataIndex: 'Year',
                    width: 100,
                    renderer: Urfu.renders.htmlEncodeWithToolTip
                },
                {
                    header: 'Семестр',
                    dataIndex: 'Semester',
                    width: 125,
                    renderer: Urfu.renders.htmlEncodeWithToolTip
                },   {
                    header: 'Группы',
                    dataIndex: 'SelectedGroupsCount',
                    width: 125,
                    renderer: Urfu.renders.htmlEncodeWithToolTip
                },   {
                    header: 'Зачислено',
                    dataIndex: 'AdmissionCount',
                    width: 125,
                    renderer: Urfu.renders.htmlEncodeWithToolTip
                },
                {
                    xtype: 'actioncolumn',

                    region: 'center',
                    width: 200,
                    defaults: {
                        metadata: {
                            attr: 'style="padding-left:10px;width:auto;"'
                        }
                    },
                    items: [
                    {
                        icon: '@Url.Content("~/Content/Images/edit.png")',  // Use a URL in the icon config
                        iconCls: 'icon-padding',
                        text: 'Изменить',
                        tooltip: 'Изменить',
                        handler: function (grid, rowIndex, colIndex) {
                            var rec = grid.getStore().getAt(rowIndex);
                            setValuesToForm(rec.data);
                            formPanel.setTitle('Редактирование Конкурсных групп');
                            var btn = Ext.getCmp('btnOk');
                            btn.setText('Сохранить');
                            var studentCourse = formPanel.getComponent('StudentCourse');
                            studentCourse.setReadOnly(rec.data.HasAdmissions);
                            formPanel.show();
                        }
                    }, {
                        icon: '@Url.Content("~/Content/Images/remove.png")',
                        iconCls: 'icon-padding',
                        tooltip: 'Удалить',
                        handler: function (grid, rowIndex, colIndex) {
                            var request = function () {
                                var rec = grid.getStore().getAt(rowIndex);
                                Ext.Ajax.request({
                                    //method: 'POST',
                                    url: '@Url.Action("DeleteCompetitionGroup")',
                                    params: {
                                        id: rec.get("Id"),
                                        __RequestVerificationToken: gettoken()
                                    },
                                    success: function (response) {
                                        store.reload();
                                    },
                                    failure: function (response) {
                                        //store.reload();
                                    }
                                });
                            }
                            Ext.MessageBox.show({
                                title: 'Информационное сообщение',
                                msg: "Вы хотите удалить Конкурсную группу со всеми данными по зачислениям и подгруппам?",
                                buttons: Ext.MessageBox.YESNO,
                                fn: function (btn) {
                                    if (btn === 'yes') {
                                        request();
                                    }
                                }
                            });
                        }
                    },
                    {
                        icon: '@Url.Content("~/Content/Images/list_bullets.png")',
                        iconCls: 'icon-padding',
                        tooltip: 'Состав',
                        handler: function (grid, rowIndex, colIndex) {
                            var rec = grid.getStore().getAt(rowIndex);
                            treePanel.getComponent('Id').setValue(rec.get('Id'));
                            Ext.ComponentQuery.query('#GroupName')[0].setValue("");
                         
                            treePanel.show();
                            treePanel.mask('Загрузка');
                            checkedNodes = {};
                            treeStore.proxy.setUrl('@Url.Action("CompetitionGroupContentsTree")?course=' + rec.get('StudentCourse') + '&competitionGroupId=' + rec.get('Id'));
                            treePanelCollapsed = true;
                            if (treeStore.isFiltered())
                                treeStore.clearFilter();
                            else
                                treeStore.reload();
                            colExpTree();

                        }

                    },
                    {
                        icon: '@Url.Content("~/Content/Images/run2.png")',  // Use a URL in the icon config
                        iconCls: 'icon-padding',
                        text: 'Секции',
                        tooltip: 'Секции',
                        handler: function (grid, rowIndex, colIndex) {
                            var rec = grid.getStore().getAt(rowIndex);

                            window.location = "@Url.Action("Properties")?competitionGroupId=" + rec.get('Id');
                        }
                    }

                        ]
                },
                    {
                        xtype: 'templatecolumn',
                        sortable: false,
                        tpl: tpl,
                        width: 420
                    }
            ],
            selModel: {
                selType: 'checkboxmodel',
                mode: 'SIMPLE'
            }
        });
        treeStore.listeners = {

        };
        var items = [
            gridPanel
        ];

        Urfu.createViewport('border', items);

    });
</script>

