@model Urfu.Its.Web.DataContext.SectionFKDiscipline
@{
    ViewBag.Title = "Нагрузка";
}

<h3>Секции ФК: @Model.SectionFK.Module.title</h3>
<h3>Дисциплина: @Model.Discipline.title </h3>

@if (ViewBag.Message != null)
{
    <h4 class="alert-danger">@ViewBag.Message</h4>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h4>Aудиторная нагрузка</h4>
        @Html.DisplayFor(m => ViewData["Tmers1"], "SectionFKDisciplineTmer")

        <h4>Контрольные мероприятия</h4>
        @Html.DisplayFor(m => ViewData["Tmers2"], "SectionFKDisciplineTmer")

        <h4>Формы контроля</h4>
        @Html.DisplayFor(m => ViewData["Tmers3"], "SectionFKDisciplineTmer")

    </div>
}

@if (ViewBag.CanEdit)
{
    <p>
        @Html.ActionLink("Редактировать нагрузку", "EditTmers", new { sectionFKId = Model.SectionFKId, disciplineId = Model.Discipline.uid }) |
        @Html.ActionLink("Редактировать периоды", "EditPeriods", new { sectionFKId = Model.SectionFKId, disciplineId = Model.Discipline.uid })
    </p>
}
<hr />

<div>
    @Html.ActionLink("Вернуться к списку", "Disciplines", new { moduleId = Model.SectionFKId })
</div>
