@model Urfu.Its.Web.Models.MinorAutoVM

@{
    ViewBag.Title = "Расчёт зачислений в конкурсную группу";
}


<h2>@ViewBag.Title</h2>

<h3>Расчёт выполнен</h3>

<table class="table" id="tablePrograms">
    <thead>

        <tr>
            <th>
                Год
            </th>
            <th>
                Семестр
            </th>
            <th>
                Создано зачислений
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Year
            </td>
            <td>
                @Model.Semester
            </td>
            <th>
                @Model.AdmittedCount
            </th>
        </tr>
    </tbody>
</table>

@Html.ActionLink("Отчёт о результате", "DownloadAutoAdmissionReport", "SectionFKAdmission")
<br>
@Html.ActionLink("К списку конкурсных групп","CompetitionGroups", "SectionFK")