@using Urfu.Its.Web.DataContext
@model  List<Urfu.Its.Web.Models.MinorTmersRowViewModel>

<table class="table table-striped table-hover table-bordered table-condensed">
    @foreach (var item in Model)
    {
        <tr>
            <th>
            </th>
            <th>
                @Html.DisplayNameFor(model => item.Title)
            </th>
        </tr>
        <tr>
            <td>
                @Html.CheckBoxFor(m => item.Checked)
            </td>
            <td>
                @Html.DisplayFor(m => item.Title)
            </td>
        </tr>
    }
    @*@foreach (var i = 0; i < Model.Tmers1.Count; i++)
                {
            @Html.HiddenFor(model => model.Tmers1[i].TmerId)
            <tr>
                <td style="text-align: center">
                    @Html.CheckBoxFor(model => model.Tmers1[i].Checked)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Tmers1[i].Title)
                </td>
            </tr>
        }*@
</table>





