<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ИТС</title>

    <script src="~/Scripts/_TreePanel.js"></script>
    <script src="~/Content/bootstrap.css"></script>
    <script src="~ /Content/ExtSite.css"></script>
    <script src="~ /Content/bootstrapsnippets.css"></script>
    <script src="~ /bundles/modernizr"></script>
    <script src="~ /Scripts/jquery-2.1.4.js"></script>
    <script src="~ /bundles/bootstrap"></script>
    <script src="~ /Ext/classic/theme-neptune-touch/resources/theme-neptune-touch-all-debug.css"></script>
    <script src="~ /Ext/ext-all-debug.js"></script>
    <script src="~ /Ext/classic/theme-neptune-touch/theme-neptune-touch-debug.js"></script>
    <script src="~ /Ext/classic/locale/locale-ru-debug.js"></script>

    <script type="text/javascript">

        window.appSettings = {
            "title": @Html.Raw(Json.Serialize(@ViewBag.Title))
        };

    </script>

    <script src="~/Scripts/Ext/app.js"></script>
</head>
<body>
    @Html.Partial("_Navbar")
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>