<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ИТС</title>
    <script src="~/Content/css"></script>
    <script src="~ /Content/themes/base/css"></script>
    <script src="~ /bundles/modernizr"></script>
    <script src="~ /bundles/jquery"></script>
    <script src="~ /bundles/jqueryui"></script>
    <script src="~ /bundles/bootstrap"></script>
    <script src="~ /bundles/datatables"></script>
</head>
<body>
@Html.Partial("_Navbar")
<div class="container-fluid body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - УрФУ ИТС</p>
    </footer>
</div>

<script src="~/bundles/otf"></script>
<script>
    $.datepicker.setDefaults($.datepicker.regional['ru']);
</script>
@RenderSection("scripts", required: false)

</body>
</html>
@{Startup.Touch(Context);}
