@model Urfu.Its.Web.DataContext.Group

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Group</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Id, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id)
                @Html.ValidationMessageFor(model => model.Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProfileId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ProfileId)
                @Html.ValidationMessageFor(model => model.ProfileId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Year, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Year)
                @Html.ValidationMessageFor(model => model.Year)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChairId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChairId)
                @Html.ValidationMessageFor(model => model.ChairId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FormativeDivisionId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FormativeDivisionId)
                @Html.ValidationMessageFor(model => model.FormativeDivisionId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FormativeDivisionParentId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FormativeDivisionParentId)
                @Html.ValidationMessageFor(model => model.FormativeDivisionParentId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ManagingDivisionId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ManagingDivisionId)
                @Html.ValidationMessageFor(model => model.ManagingDivisionId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ManagingDivisionParentId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ManagingDivisionParentId)
                @Html.ValidationMessageFor(model => model.ManagingDivisionParentId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
